<ng-container *ngIf="allEventiWithDateFormatted.length && !showMappaFiltro">
  <div class="flex-center">
    <div class="flex-center flex-col w-[90%]">

      <!-- Filtri -->
      <div class="w-full">
        <div class="mt-[3%] w-[80%] flex justify-start gap-4">
          <input type="text" class="input-form" [(ngModel)]="cercaPerTitolo" placeholder="Cerca per titolo">

          <input type="text" class="input-form" [(ngModel)]="cercaPerLuogo" placeholder="Cerca per luogo">

          <ng-container *ngIf="ruolo == 'ADMIN'">
            <select class="input-form" [(ngModel)]="cercaPerStato">
              <option value="" selected>Cerca per stato</option>
              <option value="PRESENTE">In corso</option>
              <option value="PASSATO">Passati</option>
              <option value="FUTURO">Futuri</option>
            </select>
          </ng-container>

          <button (click)="toggleMappaFiltro()" class="btn-submit">Filtra con mappa</button>

          <button (click)="resetFiltri()" class="btn-submit">Reset filtri</button>

          <select class="input-form" [(ngModel)]="attributoOrdine" (ngModelChange)="onChangeOrdinaPer($event)">
            <option value="" selected>Ordina per</option>
            <option value="DATA">Data</option>
            <option value="TITOLO">Titolo</option>
            <option value="LUOGO">Luogo</option>
          </select>

          <select class="input-form" [(ngModel)]="modoOrdine" (ngModelChange)="onChangeModoOrdine()">
            <option value="" selected>Ordine</option>
            <option value="CRESCENTE">Crescente</option>
            <option value="DECRESCENTE">Decrescente</option>
          </select>
        </div>
      </div>

      <!-- Container cards -->
      <div class="grid grid-cols-4 w-full gap-4 mt-[2%]">

        <ng-container *ngFor="let evento of allEventiWithDateFormatted">
          <ng-container *ngIf="checkFilters(evento)">
            <!-- Single card -->
            <div class="card-evento">

              <!-- Titolo -->
              <div class="flex-center">
                <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                  {{evento.titolo}}
                </h2>
              </div>

              <!-- Data -->
              <div class="flex-center">
                <p class="mb-3 font-normal text-sm text-gray-400">{{evento.dataInizio}} - {{evento.dataFine}}</p>
              </div>

              <!-- Nome luogo -->
              <div class="flex justify-start">
                <p class="font-normal text-gray-700">Luogo: {{evento.nomeLuogo}}</p>
              </div>

              <!-- Descrizione -->
              <div class="flex justify-start">
                <p class="mb-3 font-normal text-gray-700">{{evento.descrizione}}</p>
              </div>

              <!-- Pulsanti -->
              <ng-container *ngIf="ruolo == 'ADMIN'; else turista">
                <div class="flex gap-3 h-full items-end">
                  <ng-container *ngIf="evento.stato == 'FUTURO'">
                    <a class="btn-submit" (click)="toggleModalPartecipanti(evento.eventoId)">
                      Partecipanti
                    </a>
                    <a class="btn-submit" (click)="modificaEvento(evento.eventoId)">
                      Modifica
                    </a>
                    <a class="btn-red-submit" (click)="toggleModalEliminaEvento(evento.eventoId)">
                      Elimina
                    </a>
                  </ng-container>
                  <ng-container *ngIf="evento.stato == 'PRESENTE'">
                    <a class="btn-submit" (click)="toggleModalPartecipantiNoRemove(evento.eventoId)">
                      Visualizza partecipanti
                    </a>
                  </ng-container>
                  <ng-container *ngIf="evento.stato == 'PASSATO'">
                    <a class="btn-submit" (click)="toggleModalPartecipantiNoRemove(evento.eventoId)">
                      Visualizza partecipanti
                    </a>
                  </ng-container>
                </div>
              </ng-container>
              <ng-template #turista>
                <div class="flex h-full items-end">
                  <ng-container *ngIf="!evento.usernameTuristi.includes(username)">
                    <button class="btn-submit" (click)="iscrizioneEvento(evento.eventoId)">
                      Iscriviti
                    </button>
                  </ng-container>
                  <ng-container *ngIf="evento.usernameTuristi.includes(username)">
                    <button class="btn-red-submit" (click)="annullaIscrizione(evento.eventoId)">
                      Annulla iscrizione
                    </button>
                  </ng-container>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!allEventiWithDateFormatted.length">
  <div class="flex-center flex-col mt-[5%] w-full h-full">
    <p class="font-bold text-2xl">Non sono presenti eventi! :(</p>
    <ng-container *ngIf="ruolo == 'ADMIN'">
      <div class="mt-[2%] w-44">
        <button class="btn-submit" routerLink="/homepage/creaEvento">Creane uno</button>
      </div>
    </ng-container>
  </div>
</ng-container>

<!-- Modale elimina evento -->
<ng-container *ngIf="showModalEliminaEvento">
  <div
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative mx-auto w-[25%] h-[24%]">
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full h-full bg-[#F5F5F5] outline-none focus:outline-none">
        <div class="p-5 max-h-[95vh] overflow-y-auto mt-[2%]">
          <div class="flex-center flex-col space-y-8 mt-5">
            <div>
              <p class="font-medium text-lg">Sicuro di voler eliminare l'evento?</p>
            </div>
            <div class="flex-center gap-4 w-full">
              <button class="btn-submit" (click)="toggleModalEliminaEvento(0)">ANNULLA</button>
              <button class="btn-red-submit" (click)="eliminaEvento()">ELIMINA</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</ng-container>

<!-- Mappa filtro -->
<ng-container *ngIf="showMappaFiltro">
  <section class="flex justify-center h-screen w-screen">

    <div class="modal">

      <div class="w-full h-full">

        <div class="flex-center flex-col w-full gap-5">
          <p class="font-bold text-xl">Disegna un'area per visualizzare solo gli eventi all'interno</p>
          <div class="flex-center gap-3 w-full">
            <button class="btn-submit" (click)="toggleMappaFiltro()">Torna a eventi</button>
            <button class="btn-submit" (click)="filtraEventi()">Filtra eventi</button>
          </div>
        </div>

        <div class="h-full w-full">

        </div>
      </div>
    </div>
  </section>
</ng-container>

<div
  [ngClass]="showMappaFiltro ? 'map-containerDraw rounded-md bg-slate-700 col-span-5': 'map-containerDraw rounded-md bg-slate-700 col-span-5 hidden'">
  <div class="map-frameDraw rounded-md">
    <div id="mapDraw" class="rounded-md"></div>
  </div>
</div>

<!-- Modal partecipanti senza il pulsante per rimuoverli -->
<ng-container *ngIf="showModalPartecipantiNoRemove">
  <div
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <button (click)="toggleModalPartecipantiNoRemove(0)">
      <span class="font-extrabold text-3xl text-red-600 absolute right-[35.5%] top-[24%] material-icons">
        close
      </span>
    </button>
    <div class="relative mx-auto w-[25%] h-[50%]">
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full h-full bg-[#F5F5F5] outline-none focus:outline-none">
        <div class="p-5 max-h-[95vh] overflow-y-auto mt-[2%]">

          <div>
            <div class="flex-center">
              <h1 class="font-bold text-2xl">Partecipanti</h1>
            </div>

            <div class="mt-4 flex flex-col justify-center items-center gap-2">
              <ng-container *ngFor="let username of usernamePartecipanti; let i = index">
                <div class="flex-center flex-col w-full">
                  <p>{{ username }}</p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</ng-container>

<!-- Modal partecipanti -->
<ng-container *ngIf="showModalPartecipanti">
  <div
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <button (click)="toggleModalPartecipanti(0)">
      <span class="font-extrabold text-3xl text-red-600 absolute right-[35.5%] top-[24%] material-icons">
        close
      </span>
    </button>
    <div class="relative mx-auto w-[25%] h-[50%]">
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full h-full bg-[#F5F5F5] outline-none focus:outline-none">
        <div class="p-5 max-h-[95vh] overflow-y-auto mt-[2%]">

          <div>
            <div class="flex-center">
              <h1 class="font-bold text-2xl">Partecipanti</h1>
            </div>

            <div class="mt-4 flex flex-col justify-center items-center gap-2">
              <ng-container *ngFor="let username of usernamePartecipanti; let i = index">
                <div class="flex-center w-full">
                  <div class="grid grid-cols-2 gap-3">
                    <div class="col-span-1">
                      <button class="btn-red-submit" (click)="rimuoviTuristaDaEvento(username)">Rimuovi</button>
                    </div>
                    <div class="col-span-1 flex items-center">
                      <p>{{ username }}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</ng-container>
