.card-evento {
    @apply flex flex-col py-4 px-6 ring-2 h-72 space-y-[4%] w-full
    ring-inset ring-[#005cb9] rounded-lg shadow bg-white;
  }

  .modal {
    @apply flex justify-center items-center px-6 py-12 lg:px-8 ring-2 ring-inset ring-[#005cb9]
    rounded-lg w-[70%] shadow bg-white;
}

.map-containerFilter {
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 0;
  margin: 30px;
  height: 63.5%;
  width: 63.1%;
}

.map-frameFilter {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

#mapFilter {
  height: 100%;
}