/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind utilities;
@tailwind components;

@import "ngx-toastr/toastr";

.flex-center {
  @apply flex justify-center items-center;
}

.btn {
  @apply py-2 px-4 rounded-sm;
}

.btn-submit {
  @apply flex w-full justify-center rounded-md bg-[#005cb9] px-3 py-1.5 text-sm font-semibold 
  leading-6 text-white shadow-sm hover:bg-[#005cb9e0] focus-visible:outline focus-visible:outline-2 
  focus-visible:outline-offset-2 focus-visible:outline-[#005cb9];
}

.btn-red-submit {
  @apply flex w-full justify-center rounded-md bg-red-700 px-3 py-1.5 text-sm font-semibold leading-6 
  text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 
  focus-visible:outline-offset-2 focus-visible:outline-red-700;
}

.btn-white-default {
  @apply bg-white text-blue-700 border-2 border-blue-700 hover:bg-blue-700/10;
}

*, body {
  font-family: 'Roboto', sans-serif;
}