<ng-container *ngIf="organizzatori.length; else noOrganizzatori">
  <div class="flex-center">
    <div class="flex-center flex-col w-[90%]">

      <!-- Filtri -->
      <div class="w-full">
        <div class="mt-[3%] w-[70%] flex justify-start gap-4">
          <input type="text" class="input-form" [(ngModel)]="cercaPerNome" placeholder="Cerca per nome">

          <button (click)="resetFiltri()" class="btn-submit">Reset filtri</button>

          <select class="input-form" [(ngModel)]="attributoOrdine" (ngModelChange)="onChangeOrdinaPer($event)">
            <option value="" selected>Ordina per</option>
            <option value="NOME">Nome</option>
            <option value="COGNOME">Cognome</option>
            <option value="EVENTI">Eventi organizzati</option>
          </select>

          <select class="input-form" [(ngModel)]="modoOrdine" (ngModelChange)="onChangeModoOrdine($event)">
            <option value="" selected>Ordine</option>
            <option value="CRESCENTE">Crescente</option>
            <option value="DECRESCENTE">Decrescente</option>
          </select>
        </div>
      </div>

      <!-- Container cards -->
      <div class="grid grid-cols-4 w-full gap-4 mt-[2%]">

        <ng-container *ngFor="let organizzatore of organizzatori">
          <ng-container *ngIf="checkFilters(organizzatore)">
            <!-- Single card -->
            <div class="card-evento">

              <!-- Titolo -->
              <div class="flex-center">
                <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                  {{organizzatore.nome}} {{organizzatore.cognome}}
                </h2>
              </div>

              <!-- Data -->
              <div class="flex-center">
                <p class="mb-3 font-normal text-sm text-gray-400">{{organizzatore.dataCreazioneAccount}}</p>
              </div>

              <!-- Nome luogo -->
              <div class="flex justify-start">
                <p class="font-normal text-gray-700">Numero eventi creati: {{organizzatore.numeroEventiOrganizzati}}</p>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noOrganizzatori>
  <div class="flex-center flex-col mt-[5%] w-full h-full">
    <p class="font-bold text-2xl">Non sono presenti organizzatori! :(</p>
  </div>
</ng-template>
