<main class="h-screen w-screen">

  <section class="flex-center flex-col h-full w-full bg-slate-50">

    <div class="modal">

      <!-- Logo -->
      <div>
        <img class="mx-auto h-10 w-auto" src="../../../assets/logo_small.png" alt="EventGURU">
        <h2 class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
          Recupera la password
        </h2>
      </div>

      <!-- Card centerata -->
      <div class="mt-14 flex-center w-full">
        <div class="w-[60%]">
          <label for="username" class="label-form">
            <p class="font-semibold">Inserisci l'email</p>
          </label>
          <input [(ngModel)]="email" class="input-form" type="email" required />
          <button class="mt-3 btn-submit" (click)="inviaEmail()">Invia una nuova password tramite email</button>
          <button class="mt-3 btn-submit" routerLink="/login">Vai al login</button>
        </div>
      </div>
    </div>
  </section>
</main>
