<nav class="sticky bg-white border-gray-200 dark:bg-[#c5c5c5]">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="flex items-center">
      <img src="../../../assets/images/logo_small.png" class="h-8 mr-3" alt="Logo" />
    </div>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="ul-navbar">
        <ng-container [ngSwitch]="ruolo">
          <li *ngSwitchCase="'TURISTA'">
            <button routerLink="/homepage/organizzatori"
              [ngClass]="(urlPath.includes('organizzatori') && !showLogoutModal) ? 'btn-navbar-active' : 'btn-navbar'">Organizzatori</button>
          </li>
          <li *ngSwitchCase="'ORGANIZZATORE'">
            <button routerLink="/homepage/creaEvento"
              [ngClass]="(urlPath.includes('creaEvento') && !showLogoutModal) ? 'btn-navbar-active' : 'btn-navbar'">Crea
              evento</button>
          </li>
          <li *ngSwitchCase="'ADMIN'">
            <button routerLink="/homepage/admin"
              [ngClass]="(urlPath.includes('admin') && !showLogoutModal) ? 'btn-navbar-active' : 'btn-navbar'">Admin
              Page</button>
          </li>
        </ng-container>
        <li>
          <button routerLink="/homepage/esplora"
            [ngClass]="(urlPath.includes('esplora') && !showLogoutModal) ? 'btn-navbar-active' : 'btn-navbar'">Esplora</button>
        </li>
        <ng-container *ngIf="ruolo != 'ADMIN'">
          <li>
            <button routerLink="/homepage/eventi"
              [ngClass]="(urlPath.includes('eventi') && !showLogoutModal) ? 'btn-navbar-active' : 'btn-navbar'">
              I miei eventi
            </button>
          </li>
        </ng-container>
        <li>
          <button routerLink="/homepage/account"
            [ngClass]="(urlPath.includes('account') && !showLogoutModal) ? 'btn-navbar-active' : 'btn-navbar'">Account</button>
        </li>
        <li>
          <button [ngClass]="showLogoutModal ? 'btn-navbar-active' : 'btn-navbar'"
            (click)="toggleLogoutModal()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-container *ngIf="showLogoutModal">
  <div (click)="toggleLogoutModal()"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative mx-auto w-[30%] h-[30%]">
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full h-full bg-[#F5F5F5] outline-none focus:outline-none">
        <div class="p-5 max-h-[95vh] overflow-y-auto mt-[2%]">
          <div class="flex-center flex-col space-y-8 mt-5">
            <div>
              <p class="font-medium text-lg">Sicuro di voler effettuare il logout?</p>
            </div>
            <div class="flex-center gap-4 w-full">
              <button class="btn-submit cursor-pointer" (click)="toggleLogoutModal()">ANNULLA</button>
              <button class="btn-red-submit cursor-pointer" (click)="logout()">LOGOUT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</ng-container>
