.btn-navbar {
    @apply block py-2 pl-3 pr-4 bg-[#c5c5c5] rounded hover:bg-gray-100 
    md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 
    dark:text-black md:dark:hover:text-blue-500 dark:hover:bg-gray-700 
    dark:hover:text-white md:dark:hover:bg-transparent font-bold; 
}

.btn-navbar-active {
    @apply block py-2 pl-3 pr-4 text-black bg-[#005cb9] rounded md:bg-transparent md:text-[#005cb9] md:p-0 md:dark:text-blue-500 font-bold;
}

.ul-navbar {
    @apply font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 
    rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 
    md:bg-white dark:bg-[#c5c5c5] md:dark:bg-[#c5c5c5] dark:border-gray-700;
}