<!-- Header -->
<div class="flex-center flex-col mt-[4%] space-y-4">
  <h1 class="mb-2 text-3xl font-bold text-gray-900">Admin page</h1>
</div>

<!-- Body -->
<div class="flex-center gap-10 mt-[4%]">
  <!-- Per turisti -->
  <div class="modal w-[30%] h-80">

    <!-- Logo -->
    <div>
      <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
        Turisti
      </h2>
    </div>

    <!-- Card centerata -->
    <div class="mt-5 flex-center flex-col w-full">

      <p class="mb-3 font-normal text-gray-700">
        Elenco di tutti i turisti registrati nella piattaforma.
        È presente un bottone per ognuno di loro che porterà alla
        pagina dove si potranno modificare i dati dell'utente o eliminare l'utente stesso.
      </p>

      <div class="w-full relative">
        <input type="text" placeholder="Cerca per username" [(ngModel)]="usernameTurista"
          class="h-10 w-full rounded border-fields shadow-fields px-2" />
        <span (click)="cercaPerUsername('TURISTA')" class="material-icons absolute cursor-pointer top-[19%] right-[1%]">
          search
        </span>
      </div>

      <a (click)="getAllTuristi()"
        class="mt-[2%] w-full justify-center inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 cursor-pointer">
        Visualizza
      </a>
    </div>
  </div>

  <!-- Per organizzatori -->
  <div class="modal w-[30%] h-80">

    <!-- Logo -->
    <div>
      <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
        Organizzatori
      </h2>
    </div>

    <!-- Card centerata -->
    <div class="mt-5 flex-center flex-col w-full">

      <p class="mb-3 font-normal text-gray-700">
        Elenco di tutti gli organizzatori registrati nella piattaforma.
        È presente un bottone per ognuno di loro che porterà alla
        pagina dove si potranno modificare i dati dell'utente o eliminare l'utente stesso.
      </p>

      <div class="w-full relative">
        <input type="text" placeholder="Cerca per username" [(ngModel)]="usernameOrganizzatore"
          class="h-10 w-full rounded border-fields shadow-fields px-2" />
        <span (click)="cercaPerUsername('ORGANIZZATORE')"
          class="material-icons absolute cursor-pointer top-[19%] right-[1%]">
          search
        </span>
      </div>

      <a (click)="getAllOrganizzatori()"
        class="mt-[2%] w-full justify-center inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 cursor-pointer">
        Visualizza
      </a>
    </div>
  </div>

  <!-- Per eventi -->
  <div class="modal w-[30%] h-80">

    <!-- Logo -->
    <div>
      <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
        Eventi
      </h2>
    </div>

    <!-- Card centerata -->
    <div class="mt-5 flex-center flex-col w-full">

      <p class="mb-3 font-normal text-gray-700">
        Elenco di tutti gli eventi presenti nella piattaforma.
        È presente una serie di filtri in modo da visualizzare tutte le categorie
        di eventi e ordinarli. Vi è inoltre la possibilità di modificare o eliminare gli eventi
        e poi visualizzare e rimuovere i partecipanti.
      </p>

      <div class="w-full h-4 relative">
      </div>

      <a (click)="goToEsploraPage()"
        class="mt-[2%] w-full justify-center inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 cursor-pointer">
        Visualizza
      </a>
    </div>
  </div>
</div>

<!-- Modale con la lista di utenti -->
<ng-container *ngIf="showUsersList">
  <div
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <button (click)="toggleModalUsersList()">
      <span class="font-extrabold text-3xl text-red-600 absolute right-[23%] top-[19%] material-icons">
        close
      </span>
    </button>
    <div class="relative mx-auto w-[50%] h-[60%]">
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full h-full bg-[#F5F5F5] outline-none focus:outline-none">
        <div class="p-5 max-h-[95vh] overflow-y-auto mt-[2%]">

          <table class="table-fixed w-full">
            <thead class="bg-white table-dark sticky top-0">
              <tr class="divide-x-2 uppercase">
                <th class="w-28" scope="col"></th>
                <th class="w-20" scope="col">
                  <div class=" flex-center">
                    <p class="font-bold">ID</p>
                    <div class="flex-center">
                      <ng-container *ngIf="isIdArrowUp; else isIdArrowDown">
                        <span class="material-icons cursor-pointer" (click)="toggleId('DECRESCENTE')">
                          arrow_drop_up
                        </span>
                      </ng-container>
                      <ng-template #isIdArrowDown>
                        <span class="material-icons cursor-pointer" (click)="toggleId('CRESCENTE')">
                          arrow_drop_down
                        </span>
                      </ng-template>
                    </div>
                  </div>
                </th>
                <th class="w-36" scope="col">
                  <div class=" flex-center">
                    <p class="font-bold">Nome</p>
                    <div class="flex-center">
                      <ng-container *ngIf="isNomeArrowUp; else isNomeArrowDown">
                        <span class="material-icons cursor-pointer" (click)="toggleNome('DECRESCENTE')">
                          arrow_drop_up
                        </span>
                      </ng-container>
                      <ng-template #isNomeArrowDown>
                        <span class="material-icons cursor-pointer" (click)="toggleNome('CRESCENTE')">
                          arrow_drop_down
                        </span>
                      </ng-template>
                    </div>
                  </div>
                </th>
                <th class="w-36" scope="col">
                  <div class=" flex-center">
                    <p class="font-bold">Cognome</p>
                    <div class="flex-center">
                      <ng-container *ngIf="isCognomeArrowUp; else isCognomeArrowDown">
                        <span class="material-icons cursor-pointer" (click)="toggleCognome('DECRESCENTE')">
                          arrow_drop_up
                        </span>
                      </ng-container>
                      <ng-template #isCognomeArrowDown>
                        <span class="material-icons cursor-pointer" (click)="toggleCognome('CRESCENTE')">
                          arrow_drop_down
                        </span>
                      </ng-template>
                    </div>
                  </div>
                </th>
                <th class="w-36" scope="col">
                  <div class=" flex-center">
                    <p class="font-bold">Username</p>
                    <div class="flex-center">
                      <ng-container *ngIf="isUsernameArrowUp; else isUsernameArrowDown">
                        <span class="material-icons cursor-pointer" (click)="toggleUsername('DECRESCENTE')">
                          arrow_drop_up
                        </span>
                      </ng-container>
                      <ng-template #isUsernameArrowDown>
                        <span class="material-icons cursor-pointer" (click)="toggleUsername('CRESCENTE')">
                          arrow_drop_down
                        </span>
                      </ng-template>
                    </div>
                  </div>
                </th>
                <th class="w-60" scope="col">
                  <div class=" flex-center">
                    <p class="font-bold">Email</p>
                    <div class="flex-center">
                      <ng-container *ngIf="isEmailArrowUp; else isEmailArrowDown">
                        <span class="material-icons cursor-pointer" (click)="toggleEmail('DECRESCENTE')">
                          arrow_drop_up
                        </span>
                      </ng-container>
                      <ng-template #isEmailArrowDown>
                        <span class="material-icons cursor-pointer" (click)="toggleEmail('CRESCENTE')">
                          arrow_drop_down
                        </span>
                      </ng-template>
                    </div>
                  </div>
                </th>
                <th class="w-36" scope="col">
                  <div class=" flex-center">
                    <p class="font-bold">Iscritto alla newsletter</p>
                    <div class="flex-center">
                      <ng-container *ngIf="isNewsletterArrowUp; else isNewsletterArrowDown">
                        <span class="material-icons cursor-pointer" (click)="toggleNewsletter('DECRESCENTE')">
                          arrow_drop_up
                        </span>
                      </ng-container>
                      <ng-template #isNewsletterArrowDown>
                        <span class="material-icons cursor-pointer" (click)="toggleNewsletter('CRESCENTE')">
                          arrow_drop_down
                        </span>
                      </ng-template>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- Riga con dati dinamici -->
              <ng-container *ngFor="let user of usersList; let i = index">
                <tr class="odd:bg-table even:bg-transparent h-10 divide-x-2 text-center">
                  <td>
                    <p class="cursor-pointer btn-submit" (click)="goToAccountPage(user.username)">Modifica</p>
                  </td>
                  <td>
                    <div class="flex justify-center items-center">
                      <p>{{ user.userId }}<p>
                    </div>
                  </td>
                  <td>
                    <div class="flex justify-center items-center">
                      <p>{{ user.nome }}</p>
                    </div>
                  </td>
                  <td>
                    <div class="flex justify-center items-center">
                      <p>{{ user.cognome }}</p>
                    </div>
                  </td>
                  <td>
                    <div class="flex justify-center items-center">
                      <p>{{ user.username }}<p>
                    </div>
                  </td>
                  <td>
                    <div class="flex justify-center items-center">
                      <p>{{ user.email }}</p>
                    </div>
                  </td>
                  <td>
                    <div class="flex justify-center items-center">
                      <p>{{ user.iscrittoNewsletter ? "Sì" : "No" }}</p>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</ng-container>
