<main>

  <section class="flex-center flex-col">

    <div class="modal mt-[5%]">

      <div class="flex-center w-full">
        <div class="space-y-6 flex-center flex-col w-full">
          <h1 class="text-xl font-bold">Modifica i dati</h1>
          <div class="flex justify-center items-center gap-3 w-full">
            <div class="flex-center flex-col w-full space-y-2">
              <div class="w-full">
                <label for="nome" class="label-form">Nome</label>
                <input [(ngModel)]="userData.nome" name="nome" type="text" class="input-form" required />
              </div>

              <div class="w-full">
                <label for="cognome" class="label-form">Cognome</label>
                <input [(ngModel)]="userData.cognome" class='input-form' name="cognome" type="text" class="input-form"
                  required />
              </div>

              <div class="w-full">
                <label for="email" class="label-form">Email</label>
                <input [(ngModel)]="userData.email" class='input-form' name="email" type="email" class="input-form"
                  required />
              </div>

              <div class="w-full">
                <label for="username" class="label-form">Username</label>
                <input [(ngModel)]="userData.username" class='input-form' name="username" type="text" class="input-form"
                  required />
              </div>
            </div>

            <div class="flex-center flex-col w-full space-y-2 -mt-[2.1%]">
              <div class=" w-full">
                <label for="vecchia_password" class="label-form">Vecchia password</label>
                <div class="flex-center flex-col relative">
                  <input [(ngModel)]="userData.vecchiaPassword" name="password"
                    [type]="!showVecchiaPassword ? 'password' : 'text'" class='input-form' required>
                  <span (click)="toggleShowPassword('vecchia')"
                    class="material-icons right-2 absolute text-xl text-gray-900 cursor-pointer">
                    {{!showVecchiaPassword ? 'visibility_off' : 'visibility'}}
                  </span>
                </div>
              </div>

              <div class="w-full">
                <label for="password" class="label-form">Nuova password</label>
                <div class="flex-center flex-col relative">
                  <input [(ngModel)]="userData.nuovaPassword" name="password"
                    [type]="!showPassword ? 'password' : 'text'" class='input-form' required>
                  <span (click)="toggleShowPassword('no-repeat')"
                    class="material-icons right-2 absolute text-xl text-gray-900 cursor-pointer">
                    {{!showPassword ? 'visibility_off' : 'visibility'}}
                  </span>
                </div>
              </div>

              <div class="w-full">
                <label for="ripeti_password" class="label-form">Ripeti nuova password</label>
                <div class="flex-center flex-col relative">
                  <input [(ngModel)]="ripeti_password" name="ripeti_password"
                    [type]="!showRepeatPassword ? 'password' : 'text'" class='input-form' required />
                  <span (click)="toggleShowPassword('repeat')"
                    class="material-icons right-2 absolute text-xl text-gray-900 cursor-pointer">
                    {{!showRepeatPassword ? 'visibility_off' : 'visibility'}}
                  </span>
                </div>
              </div>

              <div class="w-full">
                <label for="iscritto-newsletter" class="label-form">Iscritto alla newsletter</label>
                <div class="flex justify-center gap-3 ml-[1%]">
                  <div class="flex-center gap-1">
                    <input [checked]="userData.iscrittoNewsletter" type="radio" [value]=true
                      [(ngModel)]="userData.iscrittoNewsletter">
                    <label for="Sì" class="label-form">Sì</label>
                  </div>
                  <div class="flex-center gap-1">
                    <input [checked]="!userData.iscrittoNewsletter" type="radio" [value]=false
                      [(ngModel)]="userData.iscrittoNewsletter">
                    <label for="No" class="label-form">No</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full flex flex-col space-y-4">
            <button type="submit"
              [ngClass]="(ripetiPasswordNotOk() || (vecchiaENuovaPasswordUguali() && userData.vecchia_password !== '')) ? 'btn-submit cursor-pointer opacity-50' : 'btn-submit cursor-pointer'"
              [disabled]="(ripetiPasswordNotOk() || (vecchiaENuovaPasswordUguali() && userData.vecchia_password !== ''))"
              (click)="updateUserData()">Modifica</button>
            <button type="submit" class="btn-red-submit cursor-pointer" (click)="toggleModalEliminaAccount()">
              Elimina account
            </button>
          </div>
        </div>
      </div>

      <ng-container
        *ngIf="ripetiPasswordNotOk() || (vecchiaENuovaPasswordUguali() && userData.vecchia_password !== '')">
        <p class="text-xs text-red-600 mt-[2%]">
          {{ripetiPasswordNotOk() ? 'Le due password non corrispondono!' : 'Vecchia e nuova password uguali!'}}
        </p>
      </ng-container>
    </div>
  </section>

  <ng-container *ngIf="showModalEliminaAccount">
    <div (click)="toggleModalEliminaAccount()"
      class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
      <div class="relative mx-auto w-[30%] h-[30%]">
        <div
          class="border-0 rounded-lg shadow-lg relative flex flex-col w-full h-full bg-[#F5F5F5] outline-none focus:outline-none">
          <div class="p-5 max-h-[95vh] overflow-y-auto mt-[2%]">
            <div class="flex-center flex-col space-y-8 mt-5">
              <div>
                <p class="font-medium text-lg">Sicuro di voler eliminare l'account?</p>
              </div>
              <div class="flex-center gap-4 w-full">
                <button class="btn-submit cursor-pointer" (click)="toggleModalEliminaAccount()">ANNULLA</button>
                <button class="btn-red-submit cursor-pointer" (click)="eliminaAccount()">ELIMINA</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
  </ng-container>

</main>
