<ng-container *ngIf="allEventiWithDateFormatted.length; else noEventi">
  <div class="flex-center">
    <div class="flex-center flex-col w-[90%]">

      <!-- Filtri -->
      <div class="w-full">
        <div class="mt-[3%] w-[70%] flex justify-start gap-4">
          <input type="text" class="input-form" [(ngModel)]="cercaPerTitolo" placeholder="Cerca per titolo">

          <input type="text" class="input-form" [(ngModel)]="cercaPerLuogo" placeholder="Cerca per luogo">

          <select class="input-form" [(ngModel)]="cercaPerStato">
            <option value="" selected>Cerca per stato</option>
            <option value="PRESENTE">In corso</option>
            <option value="PASSATO">Passati</option>
            <option value="FUTURO">Futuri</option>
          </select>

          <button (click)="resetFiltri()" class="btn-submit">Reset filtri</button>

          <select class="input-form" [(ngModel)]="attributoOrdine" (ngModelChange)="onChangeOrdinaPer($event)">
            <option value="" selected>Ordina per</option>
            <option value="DATA">Data</option>
            <option value="TITOLO">Titolo</option>
            <option value="LUOGO">Luogo</option>
          </select>

          <select class="input-form" [(ngModel)]="modoOrdine" (ngModelChange)="onChangeModoOrdine()">
            <option value="" selected>Ordine</option>
            <option value="CRESCENTE">Crescente</option>
            <option value="DECRESCENTE">Decrescente</option>
          </select>
        </div>
      </div>

      <!-- Container cards -->
      <div class="grid grid-cols-4 w-full gap-4 mt-[2%]">

        <ng-container *ngFor="let evento of allEventiWithDateFormatted">
          <ng-container *ngIf="checkFilters(evento)">
            <!-- Single card -->
            <div class="card-evento">

              <!-- Titolo -->
              <div class="flex-center">
                <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                  {{evento.titolo}}
                </h2>
              </div>

              <!-- Data -->
              <div class="flex-center">
                <p class="mb-3 font-normal text-sm text-gray-400">{{evento.dataInizio}} - {{evento.dataFine}}</p>
              </div>

              <!-- Nome luogo -->
              <div class="flex justify-start">
                <p class="font-normal text-gray-700">Luogo: {{evento.nomeLuogo}}</p>
              </div>

              <!-- Descrizione -->
              <div class="flex justify-start">
                <p class="mb-3 font-normal text-gray-700">{{evento.descrizione}}</p>
              </div>

              <!-- Pulsanti -->
              <ng-container *ngIf="ruolo == 'ADMIN'; else turista">
                <div class="flex gap-3 h-full items-end">
                  <a class="btn-submit" (click)="modificaEvento(evento.eventoId)">
                    Modifica
                  </a>
                  <a class="btn-red-submit" (click)="toggleModalEliminaEvento(evento.eventoId)">
                    Elimina
                  </a>
                </div>
              </ng-container>
              <ng-template #turista>
                <div class="flex h-full items-end">
                  <ng-container *ngIf="!evento.usernameTuristi.includes(username)">
                    <button class="btn-submit" (click)="iscrizioneEvento(evento.eventoId)">
                      Iscriviti
                    </button>
                  </ng-container>
                  <ng-container *ngIf="evento.usernameTuristi.includes(username) && evento.stato === 'FUTURO'">
                    <button class="btn-red-submit" (click)="annullaIscrizione(evento.eventoId)">
                      Annulla iscrizione
                    </button>
                  </ng-container>
                  <ng-container *ngIf="evento.usernameTuristi.includes(username) && evento.stato === 'PASSATO'">
                    <ng-container *ngIf="nonAncoraRecensito(evento.eventoId); else recensito">
                      <button class="btn-submit" (click)="toggleModalRecensione(evento.eventoId)">
                        Lascia una recensione
                      </button>
                    </ng-container>
                    <ng-template #recensito>
                      <div class="flex-center w-full">
                        <p class="font-semibold text-gray-500">Evento già recensito</p>
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noEventi>
  <div class="flex-center flex-col mt-[5%] w-full h-full">
    <p class="font-bold text-2xl">Non sono presenti eventi! :(</p>
    <div class="mt-[2%] w-44">
      <button class="btn-submit" routerLink="/homepage/creaEvento">Creane uno</button>
    </div>
  </div>
</ng-template>

<!-- Modale elimina evento -->
<ng-container *ngIf="showModalRecensione">
  <div
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative mx-auto w-[50%] h-[60%]">
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full h-full bg-[#F5F5F5] outline-none focus:outline-none">
        <div class="p-5 max-h-[95vh] overflow-y-auto mt-[2%]">
          <div class="flex-center flex-col space-y-8 mt-5">
            <h1 class="text-xl font-bold">Lascia una recensione</h1>
            <div class="w-full">
              <textarea [(ngModel)]="testoRecensione" class="input-form h-40"></textarea>
            </div>
            <div class="flex-center gap-5">
              <span [ngClass]="rating >= 1 ? 'material-icons cursor-pointer text-yellow-400' : 'material-icons cursor-pointer'" (click)="doRating(1)">
                {{ rating >= 1 ? 'star' : 'star_border' }}
              </span>
              <span [ngClass]="rating >= 2 ? 'material-icons cursor-pointer text-yellow-400' : 'material-icons cursor-pointer'" (click)="doRating(2)">
                {{ rating >= 2 ? 'star' : 'star_border' }}
              </span>
              <span [ngClass]="rating >= 3 ? 'material-icons cursor-pointer text-yellow-400' : 'material-icons cursor-pointer'" (click)="doRating(3)">
                {{ rating >= 3 ? 'star' : 'star_border' }}
              </span>
              <span [ngClass]="rating >= 4 ? 'material-icons cursor-pointer text-yellow-400' : 'material-icons cursor-pointer'" (click)="doRating(4)">
                {{ rating >= 4 ? 'star' : 'star_border' }}
              </span>
              <span [ngClass]="rating >= 5 ? 'material-icons cursor-pointer text-yellow-400' : 'material-icons cursor-pointer'" (click)="doRating(5)">
                {{ rating >= 5 ? 'star' : 'star_border' }}
              </span>
            </div>
            <div class="flex gap-4 w-full h-full">
              <button class="btn-red-submit" (click)="toggleModalRecensione(0)">ANNULLA</button>
              <button class="btn-submit" (click)="inviaRecensione()">INVIA</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</ng-container>
